.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /*width: 2.6rem;*/
  /*height: 3.6rem;*/

  width: 20.8rem;
  height: 28.8rem;
  /*background-color: #1a7641;*/
  background-color: white;
  border-radius: 0.05rem;
  margin: 2rem;
  /*color: lawngreen;*/
  /*color: red;*/
}

.card-bg {
  width: 100%;
  height: 100%;
  animation: card-logo-spin infinite 20s linear;
}

@keyframes card-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nominal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 5rem;

  /*background-color: whitesmoke;*/

  font-size: 5rem;
  font-weight: 900;
}

.nominal-top {
   align-self: start;
   border-top-left-radius: 0.05rem;
 }

.nominal-bottom {
   align-self: end;
   border-bottom-right-radius: 0.05rem;
   rotate: 180deg;
 }

/*.nominal .*/
.nominal .club {
  color: black;
}

.nominal .diamonds {
  color: red;
}

.nominal .peak {
  color: black;
}

.nominal .hearts {
  color: red;
}

.card-close {
  /*display: none;*/
  background-color: black;
}














.suit-image {
  width: 10rem;
  height: 10rem;
}

.suit-image>div {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 100%;
}

.suit-image .club {
  background-image: url(club.svg);
}

.suit-image .diamonds {
  background-image: url(diamond.svg);
}

.suit-image .peak {
  background-image: url(peak.svg);
}

.suit-image .hearts {
  background-image: url(heart.svg);
}

.card-bg-2 {

}



